:root
{
    /*Sizes*/
    --navbar-size: 80px;
    --navbar-open-size: 300px

    /*Paddings*/
    --nav-icon-padding: 10px;
    --nav-title-padding: 25px;

    /*Colors*/
    --white: #fff;
    --yellow: #E5E059;
    --green: #BDD358;
    --gray: #999799;
    --red: #A73F34;
    
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

.container
{
    position: relative;
    width: 100%;
}

h1,h2{
    text-align: center;
    color: var(--red);
}